body {
    background-color: #71B1FF;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

div {
    cursor: default;
}

button:hover {
    cursor: pointer;
}

button:focus, input:focus {
    outline: none;
}

input::placeholder {
    color: #999999;
}

#form {
    background-color: white;
    width: 400px;
    height: auto;
    display: block;
    margin: 0;
    box-sizing: border-box;
    padding: 24px;
    border-radius: 8px;
    box-shadow: -5px -5px 10px #00000019;
}

#form #title {
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 40px;
    color: #327AD1;
    font-family: 'Roboto Black', sans-serif;
}

#form #title a {
    text-decoration: none;
    color: #327AD1;
}

#form #subtitle {
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: #82BBFF;
    font-family: 'Roboto Light', sans-serif;
}

#form #error {
    font-family: 'Roboto Medium', sans-serif;
    color: red;
}

#form #success{
    font-family: 'Roboto Medium', sans-serif;
    color: #A4DE02;
}

#form .group {
    margin: 16px 0 0 0;
}

#form .label {
    color: #3C95FF;
    padding: 0 0 0 8px;
    margin: 0 0 8px 0;
    font-size: 14px;
    font-family: 'Roboto Medium', sans-serif;
}

#form input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    font-size: 20px;
    color: #327AD1;
    border-radius: 8px;
    border-style: none;
    background-color: #DBEBFF;
    font-family: 'Roboto Light', sans-serif;
}

#form button {
    width: 100%;
    padding: 8px 0 8px 0;
    border-radius: 40px;
    border-style: none;
    background-color: #3C95FF;
    color: white;
    font-size: 14px;
    font-family: 'Roboto Medium', sans-serif;
}

#form .error {
    margin: 0 0 0 8px;
    padding: 0;
    color: red;
    text-align: center;
    font-size: 14px;
    font-family: 'Roboto Medium', sans-serif;
}

#form .error a {
    text-decoration: none;
    color: #3C95FF;
}

#form .error a:hover {
    text-decoration: underline;
}