<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>X-16 Login</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:thin,light,regular,medium,bold,black&display=swap">
    <link rel="stylesheet" href="css/login.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js" defer></script>
    <script src="js/login.js" defer></script>
</head>

<body>
    <div id="form">
        <div id="title">
            X-16
        </div>
        <div id="subtitle">
            Fueled up and ready to fly!
        </div>
        <div v-bind:class="message_style" v-if="message">{{message}}</div>
        <!-- <div class="message positive" v-if="message = 'reset'">Success! Please verify your account via email.</div>
        <div class="message positive" v-if="message = 'reset'">Success! Please cheack your email for verification.</div>
        <div class="message negative" v-if="message = 'reset'">Invalid email or password!</div>
        <div class="message negative" v-if="message = 'reset'">Something went wrong. Please try again later.</div> -->
        <div class="group">
            <div class="label">EMAIL</div>
            <input type="email" spellcheck="false" v-model="email">
        </div>
        <div class="group">
            <div class="label">PASSWORD</div>
            <input type="password" v-model="password">
        </div>
        <div class="group">
            <button v-on:click="authenticate">LOGIN</button>
            <div id="links">
                <div>Need an account? <a href="register.html">Register</a></div>
                <div>Forget Password? <a href="reset.html">Reset</a></div>
            </div>
        </div>
    </div>
</body>

</html>