<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>X-16 Registration</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:thin,light,regular,medium,bold,black&display=swap">
    <link rel="stylesheet" href="css/register.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js" defer></script>
    <script src="js/register.js" defer></script>
</head>

<body>
    <div id="form">
        <div id="title">
            <a href="login.html">X-16</a>
        </div>
        <div id="subtitle">
            A new experience awaits!
        </div>
        <!-- <div id="subtitle error">Email already exist!</div> -->
        <div class="error" v-if="connection_error">Something went wrong. Please try again later.</div>
        <div class="error" v-if="email_error">Email already exist! <a href="reset.html">Reset Password</a></div>
        <div class="group">
            <div class="label">USERNAME</div>
            <input type="text" spellcheck="false" v-model="name">
        </div>
        <div class="group">
            <div class="label">EMAIL</div>
            <input type="email" spellcheck="false" v-model="email">
        </div>
        <div class="group">
            <div class="label">PASSWORD</div>
            <input type="password" v-model="password">
        </div>
        <div class="group">
            <button v-on:click="register">REGISTER</button>
        </div>
    </div>
    </div>
</body>

</html>